Producto/Web/Codigo/Aplicacion/Web/Web References/GeoService/GeoService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetNombreCiudades">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pre" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetNombreCiudadesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetNombreCiudadesResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerPlayasDeCiudad">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ciudad" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerPlayasDeCiudadResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerPlayasDeCiudadResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerPlayasDeCiudadPorFiltro">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ciudad" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="tipoPlaya" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="tipoVehiculo" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="diaAtencion" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="precioDesde" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="precioHasta" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="horaDesde" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="horaHasta" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerPlayasDeCiudadPorFiltroResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerPlayasDeCiudadPorFiltroResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetNombreCiudadesSoapIn">
    <wsdl:part name="parameters" element="tns:GetNombreCiudades" />
  </wsdl:message>
  <wsdl:message name="GetNombreCiudadesSoapOut">
    <wsdl:part name="parameters" element="tns:GetNombreCiudadesResponse" />
  </wsdl:message>
  <wsdl:message name="ObtenerPlayasDeCiudadSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerPlayasDeCiudad" />
  </wsdl:message>
  <wsdl:message name="ObtenerPlayasDeCiudadSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerPlayasDeCiudadResponse" />
  </wsdl:message>
  <wsdl:message name="ObtenerPlayasDeCiudadPorFiltroSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerPlayasDeCiudadPorFiltro" />
  </wsdl:message>
  <wsdl:message name="ObtenerPlayasDeCiudadPorFiltroSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerPlayasDeCiudadPorFiltroResponse" />
  </wsdl:message>
  <wsdl:portType name="Service1Soap">
    <wsdl:operation name="GetNombreCiudades">
      <wsdl:input message="tns:GetNombreCiudadesSoapIn" />
      <wsdl:output message="tns:GetNombreCiudadesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerPlayasDeCiudad">
      <wsdl:input message="tns:ObtenerPlayasDeCiudadSoapIn" />
      <wsdl:output message="tns:ObtenerPlayasDeCiudadSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerPlayasDeCiudadPorFiltro">
      <wsdl:input message="tns:ObtenerPlayasDeCiudadPorFiltroSoapIn" />
      <wsdl:output message="tns:ObtenerPlayasDeCiudadPorFiltroSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Service1Soap" type="tns:Service1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetNombreCiudades">
      <soap:operation soapAction="http://tempuri.org/GetNombreCiudades" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerPlayasDeCiudad">
      <soap:operation soapAction="http://tempuri.org/ObtenerPlayasDeCiudad" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerPlayasDeCiudadPorFiltro">
      <soap:operation soapAction="http://tempuri.org/ObtenerPlayasDeCiudadPorFiltro" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service1Soap12" type="tns:Service1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetNombreCiudades">
      <soap12:operation soapAction="http://tempuri.org/GetNombreCiudades" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerPlayasDeCiudad">
      <soap12:operation soapAction="http://tempuri.org/ObtenerPlayasDeCiudad" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerPlayasDeCiudadPorFiltro">
      <soap12:operation soapAction="http://tempuri.org/ObtenerPlayasDeCiudadPorFiltro" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="Service1Soap" binding="tns:Service1Soap">
      <soap:address location="http://localhost:33543/GeoService.asmx" />
    </wsdl:port>
    <wsdl:port name="Service1Soap12" binding="tns:Service1Soap12">
      <soap12:address location="http://localhost:33543/GeoService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>